.container {
  width: 80%;
  background-color: #ddd;
  margin: auto;
  border-radius: 4px;
}

.productImg {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 40px;
}

.itemName {
  display: inline-block;
  width: 90px;
}

.spanDescription {
  margin-left: 25px;
}

.spanCartItems, .spanCartSum {
  font-weight: bold;
}

.viewButton {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.viewButton:hover {
  background-color: #eee;
}
.viewButton.active {
  background-color: #f5f5f5;
}

.shopingBasketSpan {
  float: right;
  line-height: 75px;
  margin-right: 20px;
}

.shoppingCartImg {
  width: 50px;
  height: 50px;
  float: right;
  vertical-align: middle;
}

.removeFromCartImg {
  width: 50px;
  height: 50px;
  float: right;
  vertical-align: middle;
}

ul {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 5px;
}

li {
  list-style-type: none;
  padding: 10px;
  background-color: #eee;
  margin: 0 10px 5px 10px;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
}

li:hover {
  background-color: #e5e5e5;
}

.price {
  float: right;
  line-height: 50px;
  width: 100px;
  text-align: center;
}

.itemsLeft {
  float: right;
  line-height: 50px;
}
